.home-intro__container {
	padding-bottom: 100px;
	border-bottom: 1px solid #707070;
	margin-bottom: 100px;
}
.home-intro__text {
	font-size: 2em;
	margin-bottom: 52px;
	font-weight: 600;
	@include media($tablet-up) {
		font-size: 3em;
	}
}
.home-intro__bullets {
	font-family: $share-tech-mono;
	li {
		margin-bottom: 31px;
		margin-left: 40px;
		&:before {
			color: $code-blue;
			content: "//";
			margin-left: -40px;
			margin-right: 20px;
		}
	}
}
.home-recent {

}
.home-recent__text {
	margin-bottom: 60px;
	font-size: 2em;
    font-weight: 600;
	@include media($tablet-up) {
		font-size: 3em;
	}
}
.home-recent__top {
	@include media($tablet-up) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 36px;
	}

}
.home-recent__work {
	margin-bottom: 37px;
    &:hover {
    	// transition: all 0.5s ease-in-out;
    	background-color: rgba(0,0,0, 0.5);
    	box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);
    	.recent__work--loaded {
    		display: none;
    	}
    	.recent__work--hover {
			display: grid;
    	}
    }
}
.recent__work--loaded,
.recent__work--hover {
	height: 300px;
	display: grid;
    justify-content: center;
    align-items: center;
}
.recent__work--loaded {
	transition: all 0.5s ease-in-out;
	img {
		width: 100%;
	}
}
.recent__work--hover {
	display: none;
	transition: all 0.5s ease-in-out;
	background-position: center center;
	background-size: cover;
	box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.7);
	font-size: 3em;
	color: #fff;
}
.home-other {
	margin-bottom: 75px;
}
.home-other__text {
	font-family: $share-tech-mono;
	margin-bottom: 57px;
	span {
		margin-right: 18px;
	}
}
.home-other__work--list {
	font-family: $share-tech-mono;
	ul {
		@include media($tablet-up) {
			list-style-type: none;
			display: flex;
	 		flex-flow: wrap column;
	    	max-height: 215px;
	    }
	}
	li {
		margin-bottom: 22px;
		margin-left: 40px;
		&:before {
			// color: $code-blue;
			content: "//";
			margin-left: -40px;
			margin-right: 20px;
		}
		span {
			color: #fff;
		}
	}
}