.project-page {
	.project__container {
		padding-bottom: 100px;
	    border-bottom: 1px solid #707070;
	    margin-bottom: 100px;
	}
	.project__image {
		line-height: 0;
		position: relative;
		&.image:after {
			content: '';
			background-color: rgba(0,0,0,0.8);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transition: all 0.2s ease-in-out;
			visibility: hidden;
			opacity: 0;
			z-index: 1;
		}
		img {
			width: 100%;
		}
		@include media($tablet-up) {
			&:hover {
				&:after {
					visibility: visible;
					opacity: 1;
					
				}
				.video-banner__container {
					visibility: visible;
					opacity: 1;
					
				}
			}
		}
	}
	.video-banner__container {
		width: 100%;
		position: relative;
		text-align: center;
		padding: 25px 10px;
		transition: all 0.2s ease-in-out;
		@include media($tablet-up) {
			padding: 0px;
			text-align: left;
			position: absolute;
			top: 50%;
			left: 0px;
			width: 100%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			visibility: hidden;
			opacity: 0;
			z-index: 2;
		}
	}




	h1 {
		font-size: 2em;
	    font-weight: 600;
		margin: 50px 0;
		@include media($tablet-up) {
			font-size: 3em;
		}
	}
	.project__link {
		font-family: $share-tech-mono;
		margin-bottom: 22px;
		a {
			color: $code-blue;
		}
	}
	.project__skills {
		li {
			list-style-type: none;
			margin-bottom: 22px;
			margin-left: 40px;
			&:before {
				color: $code-blue;
				content: "//";
				margin-left: -40px;
				margin-right: 20px;
			}
		}
	}
	.agency__tag {
		font-style: italic;
		font-size: 12px;
		margin-bottom: 10px;
		color: #ddd;
	}
	.project__home {
		margin-top: 80px;
		a {
			color: #fff;
			&:hover {
				color: #000;
			}
		}
	}
}

.video-banner .js-video-content .js-video-close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
}

.video-banner__content.color-white {
  color: #000000;
}
@media screen and (min-width: 48.125em) {
  .video-banner__content.color-white {
    color: #ffffff;
  }
}

.video-banner__content.color-black {
  color: #000000;
}

@media screen and (min-width: 48.125em) {
  .video-banner__content.position-left {
    padding-right: 61.39344262%;
    padding-left: 5.40983607%;
  }
  .video-banner__content.position-right {
    padding-left: 61.39344262%;
    padding-right: 5.40983607%;
  }
}

.video-banner__title {
  font-family: "United Sans Rg Bd", Helvetica, Arial;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}
@media screen and (max-width: 48.125em) {
  .video-banner__title {
    line-height: 1.2;
  }
}
@media screen and (min-width: 48.125em) {
  .video-banner__title {
    font-size: 28px;
    letter-spacing: 0.05em;
  }
}

.video-banner__link {
  display: inline-block;
}
@media screen and (min-width: 48.125em) {
  .video-banner__link {
    float: left;
    display: block;
  }
}
.video-banner__link.js-video-play {
  cursor: pointer;
  margin-right: 04.938271605%;
}
@media screen and (max-width: 48.125em) {
  .video-banner__link.js-video-close.button--outline__white {
    border-color: #ffffff;
    color: #ffffff;
  }
  .video-banner__link.js-video-close.button--outline__white a {
    color: #ffffff;
  }
}
.video-banner__link.button--outline__white {
  text-transform: uppercase;
}
@media screen and (max-width: 48.125em) {
  .video-banner__link.button--outline__white {
    border-color: #000000;
    color: #000000;
  }
  .video-banner__link.button--outline__white a {
    color: #000000;
  }
}

.button--outline__white {
  color: #ffffff;
  font-family: "United Sans Rg Bd", Helvetica, Arial;
  font-size: 12px;
  letter-spacing: 0.05em;
  border: 1px solid #ffffff;
}
.button--outline__white a,
.button--outline__white span {
  opacity: 1;
  display: block;
  padding: 7px 20px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}
