.project-page {
	.project__container {
		padding-bottom: 100px;
	    border-bottom: 1px solid #707070;
	    margin-bottom: 100px;
	}
	.project__image {
		line-height: 0;
		img {
			width: 100%;
		}
	}
	h1 {
		font-size: 2em;
	    font-weight: 600;
		margin: 50px 0;
		@include media($tablet-up) {
			font-size: 3em;
		}
	}
	.project__link {
		font-family: $share-tech-mono;
		margin-bottom: 22px;
		a {
			color: $code-blue;
		}
	}
	.project__skills {
		li {
			list-style-type: none;
			margin-bottom: 22px;
			margin-left: 40px;
			&:before {
				color: $code-blue;
				content: "//";
				margin-left: -40px;
				margin-right: 20px;
			}
		}
	}
	.agency__tag {
		font-style: italic;
		font-size: 12px;
		margin-bottom: 10px;
		color: #ddd;
	}
	.project__home {
		margin-top: 80px;
		a {
			color: #fff;
			&:hover {
				color: #000;
			}
		}
	}
}