.home-intro__container {
	padding-bottom: 100px;
	border-bottom: 1px solid #707070;
	margin-bottom: 100px;
}
.home-intro__text {
	font-size: 3em;
	margin-bottom: 52px;
	font-weight: 600;
}
.home-intro__bullets {
	font-family: $share-tech-mono;
	li {
		margin-bottom: 31px;
	}
	span {
		margin-right: 18px;
	}
}
.home-recent {

}