/* ==========================================================================
   Header
   ========================================================================== */
body {
	background-color: #191919;
}
.header {
	margin-top: 80px;
	margin-bottom: 150px;
}
.header__logo {
	// width: 80px;
}
.site-menu {
	// position: relative;
	overflow: hidden;
	color: #fff;
	@include media($tablet-up) {
		z-index: 1000;
		position: fixed;
		top: 75px;
		right: 0;
		width: 100%;
		max-width: 330px;
		// height: 150px;
		// transition: opacity .3s .3s,max-width .3s;
	}
}
.site-menu__wrapper {
	// position: absolute;
	@include media($tablet-up) {
		// position: absolute;
		// top: 0;
		// bottom: 0;
		// left: 0;
		// right: 0;
		background: #191919;
		transition: background .3s;
		background: transparent;
		overflow: hidden;
	}
}
.site-menu__navigation {
	// opacity: 0;
	// visibility: hidden;
	// position: absolute;
	// top: calc(50% - 20px);
	// left: 50%;
	// transform: translate(-50%,-50%);
	// overflow: hidden;
	// transition: opacity .3s;
	@include media($tablet-up) {
		// opacity: 1;
		// background: transparent;
		// visibility: visible;
		// position: relative;
		// top: auto;
		// left: auto;
		// transform: none;
		// overflow: hidden;
		// height: 100%;
	}
	ul {
		// z-index: 1001;
		// position: relative;
		// list-style: none;
		// text-align: center;
		@include media($tablet-up) {
			// height: 100%;
			// // margin: 0 50px;
			display: flex;
			// align-content: center;
			// align-items: center;
			// justify-content: flex-start;
		}
	}
	li {
		display: block;
		@include media($tablet-up) {
			margin-right: 75px;
			display: inline-block;
			&:last-child {
				margin-right: 0;
			}
		}
		a {
			display: inline-block;
			border-bottom: 2px solid transparent;
			transition: border-bottom .3s;
			@include media($tablet-up) {
				color: #fff;
				line-height: 55px;
				&:hover {
					border-bottom: 2px solid #fff;
				}
			}
		}
	}
}
